body {
  color: var(--clr-charcoal-950);
  background-color: var(--clr-clean-50);
  font-family: var(--ff-default);
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--clr-clean-50);
    background-color: var(--clr-charcoal-950);
  }
}

:focus {
  box-shadow: var(--shadow-outline);
}

.flow > * + * {
  margin-block-start: var(--space-m);
}
